

.mm{   
    
font-size: 86px;
    color: #F2F8FD;


    margin-left: auto;
    margin-right: auto;
   margin-bottom: 180px;

}
.i{
    color:#AFCFEA;
    font-size: 192;
background-color:#242240;
position: absolute;
top: 35%;
left: 15%;

//bottom: auto;
}

.b{
   text-align: center;  
   bottom: 40px;
}
.b2{
    text-align: center;
    font-size: 92px;
    left:15%;
    background-color:#242240;

}
.i2{
    color:#AFCFEA;
    position: absolute;
    top: 83%;
    left: 38%;
    
}